body{

    margin:0;
    padding:0;
    text-align:center;
}


h1{
    padding-top: 4em;

}


p{

    margin: 2em 0;

}


img {
    width: 150px; /* o el tamaño deseado en píxeles */
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Añade margen para separar la imagen del borde de la ventana */
    border-radius: 8px; /* Otra sugerencia, agregar bordes redondeados para un aspecto más suave */
}
